<a href="https://colab.research.google.com/github/yucaret/brewing_challenge/blob/main/brewing_data_and_train_LGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#%cd /content/drive/"My Drive"/personal/iniciativas
%cd /content/drive/"My Drive"/Iniciativas/20201127_Backus_Challenge

/content/drive/My Drive/personal/iniciativas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def reduce_memory(ds_tmp):
    int_columns = ds_tmp.select_dtypes(include=[np.int16,np.int32,np.int64]).columns.tolist()
    for col in int_columns:
        ds_tmp[col] = pd.to_numeric(arg=ds_tmp[col], downcast='integer')

    float_columns = ds_tmp.select_dtypes(include=[np.float64]).columns.tolist()
    for col in float_columns:
        ds_tmp[col] = pd.to_numeric(arg=ds_tmp[col], downcast='float')

# **Carga de Cliente**

In [ ]:
ds_cliente = pd.read_csv('./01_input/clients_attributes.csv')

In [ ]:
ds_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15069 entries, 0 to 15068
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cliente           15069 non-null  int64
 1   FechaAltaCliente  15069 non-null  object
 2   Region            15069 non-null  int64
 3   Gerencia          15069 non-null  int64
 4   SubCanal          15069 non-null  int64
 5   TipoPoblacion     15069 non-null  int64
 6   Estrato           15069 non-null  int64
 7   EF                15069 non-null  int64
dtypes: int64(7), object(1)
memory usage: 941.9+ KB

In [ ]:
ds_cliente.head()

   Cliente FechaAltaCliente  Region  ...  TipoPoblacion  Estrato  EF
0        1       2009-03-03       4  ...              1        1   1
1        9       2009-03-03       4  ...              2        3   1
2       15       2009-03-03       4  ...              2        3   0
3       37       2009-03-03       4  ...              2        3   1
4       43       2009-03-03       4  ...              2        3   0

[5 rows x 8 columns]

In [ ]:
# Variables de Cliente
ds_cliente['AnhoAltaCliente'] = ds_cliente['FechaAltaCliente'].str[0:4]
ds_cliente['MesAltaCliente'] = ds_cliente['FechaAltaCliente'].str[5:7]
ds_cliente = pd.get_dummies(ds_cliente, columns = ['Region'])
ds_cliente = pd.get_dummies(ds_cliente, columns = ['Gerencia'])
ds_cliente = pd.get_dummies(ds_cliente, columns = ['SubCanal'])
ds_cliente = pd.get_dummies(ds_cliente, columns = ['TipoPoblacion'])
ds_cliente = pd.get_dummies(ds_cliente, columns = ['Estrato'])
ds_cliente = pd.get_dummies(ds_cliente, columns = ['EF'])

del ds_cliente['FechaAltaCliente']

ds_cliente = pd.get_dummies(ds_cliente, columns = ['AnhoAltaCliente'])
ds_cliente = pd.get_dummies(ds_cliente, columns = ['MesAltaCliente'])

reduce_memory(ds_cliente)

In [ ]:
ds_cliente.head(10)

   Cliente  Region_1  ...  MesAltaCliente_11  MesAltaCliente_12
0        1         0  ...                  0                  0
1        9         0  ...                  0                  0
2       15         0  ...                  0                  0
3       37         0  ...                  0                  0
4       43         0  ...                  0                  0
5       70         0  ...                  0                  0
6       71         0  ...                  0                  0
7       75         0  ...                  0                  0
8       88         0  ...                  0                  0
9       90         0  ...                  0                  0

[10 rows x 103 columns]

# **Carga de Promos Activas y Ejecutadas**

In [ ]:
ds_activa = pd.read_csv('./01_input/active_promos.csv')
ds_ejecutada = pd.read_csv('./01_input/executed_promos.csv')

In [ ]:
ds_activa.count()

CodigoDC       422437
Marca          422437
Cupo           422437
Fecha_Desde    422437
Fecha_Hasta    422437
Cliente        422437
dtype: int64

In [ ]:
ds_ejecutada.count()

CodigoDC    27794
Cliente     27794
Marca       27794
Cupo        27794
dtype: int64

In [ ]:
#Variables de Promocion
ds_ejecutada['Target'] = 1

ds_promos = pd.merge(ds_activa, ds_ejecutada, how='left', on=['CodigoDC','Cliente','Marca','Cupo'])

ds_promos['CantidadPromosActivas'] = 1

ds_promos = ds_promos[['CodigoDC', 'Cliente', 'Marca', 'Cupo', 'Fecha_Desde' ,'Fecha_Hasta', 'CantidadPromosActivas', 'Target']]

ds_promos['Target'] = np.where(pd.isna(ds_promos['Target']),0, ds_promos['Target'])
ds_promos['Target'] = (ds_promos['Target']).astype(int)
ds_promos['MarcaPromo'] = ds_promos['Marca']
ds_promos['CupoPromo'] = ds_promos['Cupo']

ds_promos = pd.get_dummies(ds_promos, columns = ['MarcaPromo'])
ds_promos = pd.get_dummies(ds_promos, columns = ['CupoPromo'])

ds_promos = ds_promos[['CodigoDC', 'Cliente', 'Marca', 'Cupo', 'Target','Fecha_Desde', 'Fecha_Hasta', 'CantidadPromosActivas', 'MarcaPromo_29', 'MarcaPromo_39', 'MarcaPromo_40', 'CupoPromo_9', 'CupoPromo_16', 'CupoPromo_20']]

#Duracion de Promocion
ds_promos['FechaDesde_DT'] = pd.to_datetime(ds_promos['Fecha_Desde'])
ds_promos['FechaHasta_DT'] = pd.to_datetime(ds_promos['Fecha_Hasta'])

ds_promos['Duracion'] = (((ds_promos['FechaHasta_DT'] - ds_promos['FechaDesde_DT'])/ np.timedelta64(1, 'D')).astype(int) + 1)

del ds_promos['FechaDesde_DT'], ds_promos['FechaHasta_DT']

In [ ]:
# Variables de Fecha
ds_promos['AnhoDesda'] = ds_promos['Fecha_Desde'].str[0:4]
ds_promos['AnhoMesDesde'] = ds_promos['Fecha_Desde'].str[0:7]
ds_promos['AnhoHasta'] = ds_promos['Fecha_Hasta'].str[0:4]
ds_promos['AnhoMesHasta'] = ds_promos['Fecha_Hasta'].str[0:7]

del ds_promos['Fecha_Desde'], ds_promos['Fecha_Hasta']

ds_promos = pd.get_dummies(ds_promos, columns = ['AnhoDesda'])
ds_promos = pd.get_dummies(ds_promos, columns = ['AnhoMesDesde'])
ds_promos = pd.get_dummies(ds_promos, columns = ['AnhoHasta'])
ds_promos = pd.get_dummies(ds_promos, columns = ['AnhoMesHasta'])

reduce_memory(ds_promos)

In [ ]:
# Data de promo sumarizada a Nivel de Cliente Marca Cupo sobre Cantidades
ds_promosCantidad = ds_promos.copy()
del ds_promosCantidad['Duracion']

columnasPromo = {}

for i in ds_promosCantidad.columns[4:]:
  columnasPromo[i] = 'sum'

ds_promosCantidad = ds_promosCantidad.groupby(['Cliente','Marca','Cupo'], as_index=True ).agg(columnasPromo)
ds_promosCantidad.reset_index(inplace=True)

reduce_memory(ds_promosCantidad)

for i in ds_promosCantidad.columns[5:]:
  ds_promosCantidad = ds_promosCantidad.rename(columns={i: 'CantidadPromosActivas_' + i})

In [ ]:
# Data de promo sumarizada a Nivel de Cliente Marca Cupo sobre Duracion
ds_promosDuracion = ds_promos.copy()
del ds_promosDuracion['CantidadPromosActivas']

for i in ds_promosDuracion.columns[5:]:
  if (i!="Duracion"):
    ds_promosDuracion[i] = ds_promosDuracion[i]*ds_promosDuracion['Duracion']

columnasPromo = {}

for i in ds_promosDuracion.columns[5:]:
  columnasPromo[i] = 'sum'
  
ds_promosDuracion = ds_promosDuracion.groupby(['Cliente','Marca','Cupo'], as_index=True ).agg(columnasPromo)
ds_promosDuracion.reset_index(inplace=True)

reduce_memory(ds_promosDuracion)

for i in ds_promosDuracion.columns[3:]:
  if (i!="Duracion"):
    ds_promosDuracion = ds_promosDuracion.rename(columns={i: 'Duracion_' + i})

In [ ]:
# Data de promo sumarizada a Nivel de Cliente sobre Cantidades
columnasPromo = {}

for i in ds_promosCantidad.columns[4:]:
  columnasPromo[i] = 'sum'

ds_promosCantidadCliente = ds_promosCantidad.groupby(['Cliente'], as_index=True ).agg(columnasPromo)
ds_promosCantidadCliente.reset_index(inplace=True)

for i in ds_promosCantidadCliente.columns[1:]:
  ds_promosCantidadCliente = ds_promosCantidadCliente.rename(columns={i: 'Cliente_' + i})

In [ ]:
# Data de promo sumarizada a Nivel de Cliente sobre Duracion
columnasPromo = {}

for i in ds_promosDuracion.columns[3:]:
  columnasPromo[i] = 'sum'

ds_promosDuracionCliente = ds_promosDuracion.groupby(['Cliente'], as_index=True ).agg(columnasPromo)
ds_promosDuracionCliente.reset_index(inplace=True)

for i in ds_promosDuracionCliente.columns[1:]:
  ds_promosDuracionCliente = ds_promosDuracionCliente.rename(columns={i: 'Cliente_' + i})

In [ ]:
ds_promos = pd.merge(ds_promosCantidad, ds_promosDuracion, how='left', on=['Cliente','Marca', 'Cupo'])
ds_promos = pd.merge(ds_promos, ds_promosCantidadCliente, how='left', on=['Cliente'])
ds_promos = pd.merge(ds_promos, ds_promosDuracionCliente, how='left', on=['Cliente'])
reduce_memory(ds_promos)

In [ ]:
ds_promos['Target'] = np.where(ds_promos['Target']>=1,1,0)

del ds_promosCantidad, ds_promosDuracion, ds_promosCantidadCliente, ds_promosDuracionCliente

# **Carga de Ventas**

In [ ]:
ds_ventas = pd.read_csv('./01_input/sales.csv', engine='python')
ds_ventas = ds_ventas.rename(columns={ ds_ventas.columns[1]: "AnhoVenta", "Mes": "MesVenta" })
reduce_memory(ds_ventas)

In [ ]:
ds_ventas.count()

Cliente           1894252
AnhoVenta         1894252
MesVenta          1894252
ClaseEnvase       1894252
SegmentoPrecio    1894247
Marca             1894252
Cupo              1894247
Nr                1894252
Hl                1894252
Dcto              1894252
dtype: int64

In [ ]:
# Variables de Ventas
ds_ventas['SegmentoPrecio'] = np.where(pd.isna(ds_ventas['SegmentoPrecio']), 0, ds_ventas['SegmentoPrecio'])
ds_ventas['SegmentoPrecio'] = (ds_ventas['SegmentoPrecio']).astype(int)

ds_ventas['Cupo'] = np.where(pd.isna(ds_ventas['Cupo']), 0, ds_ventas['Cupo'])
ds_ventas['Cupo'] = (ds_ventas['Cupo']).astype(int)

ds_ventas['CantidadVentas'] = 1
ds_ventas['CantidadVentas'] = (ds_ventas['CantidadVentas']).astype(int)

ds_ventas['AplicaronDescuento'] = np.where(ds_ventas['Dcto']  == 0, 0, 1)

ds_ventas = ds_ventas[['Cliente', 'Marca', 'Cupo', 'AnhoVenta', 'MesVenta', 'ClaseEnvase', 'SegmentoPrecio', 'AplicaronDescuento', 'Nr', 'Hl', 'Dcto', 'CantidadVentas']]

ds_ventas['MarcaVenta'] = ds_ventas['Marca']
ds_ventas['CupoVenta'] = ds_ventas['Cupo']

ds_ventas = pd.get_dummies(ds_ventas, columns = ['MarcaVenta'])
ds_ventas = pd.get_dummies(ds_ventas, columns = ['CupoVenta'])
ds_ventas = pd.get_dummies(ds_ventas, columns = ['ClaseEnvase'])
ds_ventas = pd.get_dummies(ds_ventas, columns = ['SegmentoPrecio'])
ds_ventas = pd.get_dummies(ds_ventas, columns = ['AplicaronDescuento'])

ds_ventas['AnhoMesVenta'] = ds_ventas['AnhoVenta'].astype(str) + '_' + ds_ventas['MesVenta'].astype(str)

ds_ventas = pd.get_dummies(ds_ventas, columns = ['AnhoVenta'])
ds_ventas = pd.get_dummies(ds_ventas, columns = ['AnhoMesVenta'])

del ds_ventas['MesVenta']

reduce_memory(ds_ventas)

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente Marca Cupo sobre Cantidades
ds_ventasCantidad = ds_ventas.copy()
del ds_ventasCantidad['Nr'], ds_ventasCantidad['Hl'], ds_ventasCantidad['Dcto']

columnasVentas = {}

for i in ds_ventasCantidad.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasCantidad = ds_ventasCantidad.groupby(['Cliente','Marca','Cupo'], as_index=True ).agg(columnasVentas)
ds_ventasCantidad.reset_index(inplace=True)

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente Marca Cupo sobre NR
ds_ventasNr = ds_ventas.copy()
del ds_ventasNr['CantidadVentas'], ds_ventasNr['Hl'], ds_ventasNr['Dcto'], ds_ventasNr['AplicaronDescuento_0'], ds_ventasNr['AplicaronDescuento_1']

for i in ds_ventasNr.columns[4:]:
  ds_ventasNr[i] = ds_ventasNr[i]*ds_ventasNr['Nr']

ds_ventasNr['Valor_Negativo'] = np.where(ds_ventasNr['Nr']<0,1,0)
ds_ventasNr['Valor_Cero'] = np.where(ds_ventasNr['Nr']==0,1,0)
ds_ventasNr['Valor_Positivo'] = np.where(ds_ventasNr['Nr']>0,1,0)

ds_ventasNr['Rango_01'] = np.where(ds_ventasNr['Nr']<=0,1,0)
ds_ventasNr['Rango_02'] = np.where((ds_ventasNr['Nr']>0) & (ds_ventasNr['Nr']<=5800.67),1,0)
ds_ventasNr['Rango_03'] = np.where((ds_ventasNr['Nr']>5800.67) & (ds_ventasNr['Nr']<=8025.97),1,0)
ds_ventasNr['Rango_04'] = np.where((ds_ventasNr['Nr']>8025.97) & (ds_ventasNr['Nr']<=9122.23),1,0)
ds_ventasNr['Rango_05'] = np.where((ds_ventasNr['Nr']>9122.23) & (ds_ventasNr['Nr']<=10632.62),1,0)
ds_ventasNr['Rango_06'] = np.where((ds_ventasNr['Nr']>10632.62) & (ds_ventasNr['Nr']<=16254.42),1,0)
ds_ventasNr['Rango_07'] = np.where((ds_ventasNr['Nr']>16254.42) & (ds_ventasNr['Nr']<=21378.02),1,0)
ds_ventasNr['Rango_08'] = np.where((ds_ventasNr['Nr']>21378.02) & (ds_ventasNr['Nr']<=32195.49),1,0)
ds_ventasNr['Rango_09'] = np.where((ds_ventasNr['Nr']>32195.49) & (ds_ventasNr['Nr']<=53894.25),1,0)
ds_ventasNr['Rango_10'] = np.where((ds_ventasNr['Nr']>53894.25) & (ds_ventasNr['Nr']<=114747.58),1,0)
ds_ventasNr['Rango_11'] = np.where(ds_ventasNr['Nr']>114747.58,1,0)

columnasVentas = {}

for i in ds_ventasNr.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasNr = ds_ventasNr.groupby(['Cliente','Marca','Cupo'], as_index=True ).agg(columnasVentas)
ds_ventasNr.reset_index(inplace=True)

reduce_memory(ds_ventasNr)

for i in ds_ventasNr.columns[4:]:
  ds_ventasNr = ds_ventasNr.rename(columns={i: 'Nr_' + i})

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente Marca Cupo sobre HL
ds_ventasHl = ds_ventas.copy()
del ds_ventasHl['CantidadVentas'], ds_ventasHl['Nr'], ds_ventasHl['Dcto'], ds_ventasHl['AplicaronDescuento_0'], ds_ventasHl['AplicaronDescuento_1']

for i in ds_ventasHl.columns[4:]:
  ds_ventasHl[i] = ds_ventasHl[i]*ds_ventasHl['Hl']

ds_ventasHl['Rango_01'] = np.where(ds_ventasHl['Hl']<=0.01,1,0)
ds_ventasHl['Rango_02'] = np.where((ds_ventasHl['Hl']>0.01) & (ds_ventasHl['Hl']<=0.02),1,0)
ds_ventasHl['Rango_03'] = np.where((ds_ventasHl['Hl']>0.02) & (ds_ventasHl['Hl']<=0.03),1,0)
ds_ventasHl['Rango_04'] = np.where((ds_ventasHl['Hl']>0.03) & (ds_ventasHl['Hl']<=0.04),1,0)
ds_ventasHl['Rango_05'] = np.where((ds_ventasHl['Hl']>0.05) & (ds_ventasHl['Hl']<=0.06),1,0)
ds_ventasHl['Rango_06'] = np.where((ds_ventasHl['Hl']>0.06) & (ds_ventasHl['Hl']<=0.07),1,0)
ds_ventasHl['Rango_07'] = np.where((ds_ventasHl['Hl']>0.07) & (ds_ventasHl['Hl']<=0.11),1,0)
ds_ventasHl['Rango_08'] = np.where((ds_ventasHl['Hl']>0.11) & (ds_ventasHl['Hl']<=0.18),1,0)
ds_ventasHl['Rango_09'] = np.where((ds_ventasHl['Hl']>0.18) & (ds_ventasHl['Hl']<=0.41),1,0)
ds_ventasHl['Rango_10'] = np.where((ds_ventasHl['Hl']>0.41) & (ds_ventasHl['Hl']<=0.82),1,0)
ds_ventasHl['Rango_11'] = np.where(ds_ventasHl['Hl']>0.82,1,0)

columnasVentas = {}

for i in ds_ventasHl.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasHl = ds_ventasHl.groupby(['Cliente','Marca','Cupo'], as_index=True ).agg(columnasVentas)
ds_ventasHl.reset_index(inplace=True)

reduce_memory(ds_ventasHl)

for i in ds_ventasHl.columns[4:]:
  ds_ventasHl = ds_ventasHl.rename(columns={i: 'Hl_' + i})

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente Marca Cupo sobre Descuento
ds_ventasDcto = ds_ventas.copy()
del ds_ventasDcto['CantidadVentas'], ds_ventasDcto['Nr'], ds_ventasDcto['Hl']

for i in ds_ventasDcto.columns[4:]:
  ds_ventasDcto[i] = ds_ventasDcto[i]*ds_ventasDcto['Dcto']

columnasVentas = {}

for i in ds_ventasDcto.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasDcto = ds_ventasDcto.groupby(['Cliente','Marca','Cupo'], as_index=True ).agg(columnasVentas)
ds_ventasDcto.reset_index(inplace=True)

reduce_memory(ds_ventasDcto)

for i in ds_ventasDcto.columns[4:]:
  ds_ventasDcto = ds_ventasDcto.rename(columns={i: 'Dcto_' + i})

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente sobre Cantidades
columnasVentas = {}

for i in ds_ventasCantidad.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasCantidadCliente = ds_ventasCantidad.groupby(['Cliente'], as_index=True ).agg(columnasVentas)
ds_ventasCantidadCliente.reset_index(inplace=True)

for i in ds_ventasCantidadCliente.columns[1:]:
  ds_ventasCantidadCliente = ds_ventasCantidadCliente.rename(columns={i: 'Cliente_' + i})

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente sobre NR
columnasVentas = {}

for i in ds_ventasNr.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasNrCliente = ds_ventasNr.groupby(['Cliente'], as_index=True ).agg(columnasVentas)
ds_ventasNrCliente.reset_index(inplace=True)

for i in ds_ventasNrCliente.columns[1:]:
  ds_ventasNrCliente = ds_ventasNrCliente.rename(columns={i: 'Cliente_' + i})

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente sobre HL
columnasVentas = {}

for i in ds_ventasHl.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasHlCliente = ds_ventasHl.groupby(['Cliente'], as_index=True ).agg(columnasVentas)
ds_ventasHlCliente.reset_index(inplace=True)

for i in ds_ventasHlCliente.columns[1:]:
  ds_ventasHlCliente = ds_ventasHlCliente.rename(columns={i: 'Cliente_' + i})

In [ ]:
# Data de Ventas sumarizada a Nivel de Cliente sobre Descuento
columnasVentas = {}

for i in ds_ventasDcto.columns[3:]:
  columnasVentas[i] = 'sum'

ds_ventasDctoCliente = ds_ventasDcto.groupby(['Cliente'], as_index=True ).agg(columnasVentas)
ds_ventasDctoCliente.reset_index(inplace=True)

for i in ds_ventasDctoCliente.columns[1:]:
  ds_ventasDctoCliente = ds_ventasDctoCliente.rename(columns={i: 'Cliente_' + i})

# **Genera Base**

In [ ]:
ds_data = pd.merge(ds_promos, ds_cliente, how='left', on=['Cliente'])

ds_data = pd.merge(ds_data, ds_ventasCantidad, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_data = pd.merge(ds_data, ds_ventasNr, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_data = pd.merge(ds_data, ds_ventasHl, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_data = pd.merge(ds_data, ds_ventasDcto, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_data = pd.merge(ds_data, ds_ventasCantidadCliente, how='left', on=['Cliente'])
ds_data = pd.merge(ds_data, ds_ventasNrCliente, how='left', on=['Cliente'])
ds_data = pd.merge(ds_data, ds_ventasHlCliente, how='left', on=['Cliente'])
ds_data = pd.merge(ds_data, ds_ventasDctoCliente, how='left', on=['Cliente'])

reduce_memory(ds_data)

In [ ]:
ds_data.shape

(34551, 1260)

In [ ]:
ds_data.to_csv('./ds_data.csv',index=False)

In [ ]:
import pandas as pd
ds_data = pd.read_csv('./ds_data.csv')

In [ ]:
ds_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34551 entries, 0 to 34550
Columns: 1260 entries, Cliente to Cliente_Dcto_AnhoMesVenta_2019_8
dtypes: float64(872), int64(388)
memory usage: 332.1 MB

In [ ]:
#ds_data = pd.read_csv('./ds_data.csv')
reduce_memory(ds_data)

In [ ]:
ds_data.head()

   Cliente  ...  Cliente_Dcto_AnhoMesVenta_2019_8
0        1  ...                      -8417.629883
1        1  ...                      -8417.629883
2        1  ...                      -8417.629883
3        2  ...                          0.000000
4        2  ...                          0.000000

[5 rows x 1260 columns]

### **Calculos Adicionales**

In [ ]:
ds_activa_k = pd.read_csv('./01_input/active_promos.csv')
ds_ejecutada_k = pd.read_csv('./01_input/executed_promos.csv')
ds_ventas_k = pd.read_csv('./01_input/sales.csv',encoding = "ISO-8859-1")
ds_cliente_k = pd.read_csv('./01_input/clients_attributes.csv')

In [ ]:
ds_temp = pd.merge(ds_activa_k, ds_ejecutada_k, how='inner', on=['Cliente','Marca','Cupo','CodigoDC']) 
#ds_temp["Anho_Promo"] = ds_temp["Fecha_Desde"].str[0:4].astype(int)
#ds_temp["Mes_Promo"] = ds_temp["Fecha_Desde"].str[5:7].astype(int)
ds_temp["Año"] = ds_temp["Fecha_Desde"].str[0:4].astype(int)
ds_temp["Mes"] = ds_temp["Fecha_Desde"].str[5:7].astype(int)
ds_temp["Dia"] = ds_temp["Fecha_Desde"].str[8:10].astype(int)
ds_temp.head()

   CodigoDC  Marca  Cupo Fecha_Desde Fecha_Hasta  Cliente   Año  Mes  Dia
0    297601     29     9  2018-08-06  2018-08-30    11816  2018    8    6
1    298856     40    16  2018-08-12  2018-08-19     8444  2018    8   12
2    309916     40    16  2018-08-12  2018-08-19     8488  2018    8   12
3    309962     40    16  2018-08-12  2018-08-24     7159  2018    8   12
4    310695     40    16  2018-08-12  2018-08-19     2218  2018    8   12

In [ ]:
#ds_temp = pd.merge(ds_temp, ds_ventas_k, how='inner', on=['Cliente','Marca','Cupo']) 
ds_temp = pd.merge(ds_temp, ds_ventas_k, how='inner', on=['Cliente','Marca','Cupo',"Año","Mes"]) 
ds_temp.head()

   CodigoDC  Marca  Cupo  ...          Nr    Hl       Dcto
0    297601     29     9  ...    45207.46  0.08  -10539.47
1    298856     40    16  ...    95745.01  0.39  -29250.94
2    309916     40    16  ...  1416521.67  5.35 -317917.84
3    354347     40    16  ...  1416521.67  5.35 -317917.84
4    309962     40    16  ...    56371.28  0.36  -68935.91

[5 rows x 14 columns]

In [ ]:
ds_temp[(ds_temp["Cliente"]==8444) & (ds_temp["Marca"]==40) & (ds_temp["Cupo"]==16)].sort_values(["Año","Mes"])

       CodigoDC  Marca  Cupo  ...         Nr    Hl      Dcto
1        298856     40    16  ...   95745.01  0.39 -29250.94
3406     360816     40    16  ...  112411.33  0.39 -12770.18
13096    496269     40    16  ...  182461.59  0.62 -20276.87
22883    597439     40    16  ...  279337.40  0.89 -10134.54
22884    598001     40    16  ...  279337.40  0.89 -10134.54

[5 rows x 14 columns]

In [ ]:
#Dia menor que quincena
ds_temp.loc[(ds_temp['Dia'] <= 15), 'menor_15'] =  1
ds_temp["menor_15"] = ds_temp["menor_15"].fillna(0)


#Cantidad meses antes de promo
ds_temp.loc[(ds_temp['Mes'] >= 9), 'mes_venta_9'] =  1
ds_temp["mes_venta_9"] = ds_temp["mes_venta_9"].fillna(0)

#MArca 40 cupo 16
ds_temp.loc[(ds_temp['Marca'] == 40) & (ds_temp['Cupo'] == 16), 'marca_40_cupo_16'] =  1
ds_temp["marca_40_cupo_16"] = ds_temp["marca_40_cupo_16"].fillna(0)
#####################################################################
ds_temp[(ds_temp["Cliente"]==8444) & (ds_temp["Marca"]==40) & (ds_temp["Cupo"]==16)].sort_values(["Año","Mes"])

       CodigoDC  Marca  Cupo  ... menor_15 mes_venta_9  marca_40_cupo_16
1        298856     40    16  ...      1.0         0.0               1.0
3406     360816     40    16  ...      1.0         1.0               1.0
13096    496269     40    16  ...      1.0         1.0               1.0
22883    597439     40    16  ...      0.0         0.0               1.0
22884    598001     40    16  ...      0.0         0.0               1.0

[5 rows x 17 columns]

In [ ]:
ds_temp[(ds_temp["Cliente"]==6) & (ds_temp["Marca"]==40) & (ds_temp["Cupo"]==16)].sort_values(["Año","Mes"])

      CodigoDC  Marca  Cupo  ... menor_15 mes_venta_9  marca_40_cupo_16
4136    357369     40    16  ...      1.0         1.0               1.0

[1 rows x 17 columns]

In [ ]:
ds_temp_1 = ds_temp.groupby(["Cliente", "Marca","Cupo"])["mes_venta_9"].sum().reset_index(name="sum_mes_venta_9")
ds_temp_2 = ds_temp.groupby(["Cliente", "Marca","Cupo"])["marca_40_cupo_16"].sum().reset_index(name="sum_marca_40_cupo_16")
ds_temp_3 = ds_temp.groupby(["Cliente", "Marca","Cupo"])["menor_15"].sum().reset_index(name="sum_menor_15")
ds_temp_fin = pd.merge(ds_temp_1, ds_temp_2, how='inner', on=['Cliente','Marca','Cupo']) 
ds_temp_fin = pd.merge(ds_temp_fin, ds_temp_3, how='inner', on=['Cliente','Marca','Cupo']) 
ds_temp_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7959 entries, 0 to 7958
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cliente               7959 non-null   int64
 1   Marca                 7959 non-null   int64
 2   Cupo                  7959 non-null   int64
 3   sum_mes_venta_9       7959 non-null   float64
 4   sum_marca_40_cupo_16  7959 non-null   float64
 5   sum_menor_15          7959 non-null   float64
dtypes: float64(3), int64(3)
memory usage: 435.3 KB

In [ ]:
ds_temp_fin[(ds_temp_fin["Cliente"]==8444) & (ds_temp_fin["Marca"]==40) & (ds_temp_fin["Cupo"]==16)]

      Cliente  Marca  Cupo  sum_mes_venta_9  sum_marca_40_cupo_16  sum_menor_15
4980     8444     40    16              2.0                   5.0           3.0

In [ ]:
ds_temp_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7959 entries, 0 to 7958
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cliente               7959 non-null   int64
 1   Marca                 7959 non-null   int64
 2   Cupo                  7959 non-null   int64
 3   sum_mes_venta_9       7959 non-null   float64
 4   sum_marca_40_cupo_16  7959 non-null   float64
 5   sum_menor_15          7959 non-null   float64
dtypes: float64(3), int64(3)
memory usage: 435.3 KB

In [ ]:
ds_data = pd.merge(ds_data, ds_temp_fin, how='left', on=['Cliente','Marca','Cupo'])

In [ ]:
ds_data.head()

   Cliente  Marca  Cupo  ...  sum_mes_venta_9  sum_marca_40_cupo_16  sum_menor_15_y
0        1     29     9  ...              NaN                   NaN             NaN
1        1     39    20  ...              NaN                   NaN             NaN
2        1     40    16  ...              1.0                   1.0             1.0
3        2     29     9  ...              NaN                   NaN             NaN
4        2     39    20  ...              NaN                   NaN             NaN

[5 rows x 1277 columns]

# **Modelo**

In [ ]:
from matplotlib import pyplot
from sklearn.model_selection import train_test_split

# Librerias del modelo
from keras.models import Sequential
from keras.layers import BatchNormalization, Input, Dropout, Dense,Activation
from keras.regularizers import l1, l2
from keras.models import Model, load_model
from keras.callbacks import EarlyStopping

Estandarizando Datos Para Modelo

In [ ]:
ds_target = ds_data['Target']
ds_key = ds_data.iloc[:,:3]
ds_features = ds_data.iloc[:,4:]

In [ ]:
array_x = np.asarray(ds_features)
array_y = np.asarray(ds_target)

# Version 1
#array_train_x, array_valid_x, array_train_y, array_valid_y = train_test_split(array_x,
#                                                                              array_y,
#                                                                              test_size=0.02,
#                                                                              random_state=42)
#

# Version 2
array_train_x, array_valid_x, array_train_y, array_valid_y = train_test_split(array_x,
                                                                              array_y,
                                                                              test_size=0.006,
                                                                              random_state=42)


array_valid_x, array_test_x, array_valid_y, array_test_y = train_test_split(array_valid_x,
                                                                            array_valid_y,
                                                                            test_size=0.5,
                                                                            random_state=42)



del array_x, array_y

In [ ]:
array_train_x_mean = array_train_x.mean(axis=0)
print("mean for x train: ok")
array_train_x_std = array_train_x.std(axis=0)
print("std for x train: ok")

array_valid_x_mean = array_valid_x.mean(axis=0)
print("mean for x valid: ok")
array_valid_x_std = array_valid_x.std(axis=0)
print("std for x valid: ok")

array_test_x_mean = array_test_x.mean(axis=0)
print("mean for x test: ok")
array_test_x_std = array_test_x.std(axis=0)
print("std for x test: ok")


array_train_x = (array_train_x - array_train_x_mean) / array_train_x_std
array_train_x = np.where(np.isnan(array_train_x), 0, array_train_x)

array_valid_x = (array_valid_x - array_valid_x_mean) / array_valid_x_std
array_valid_x = np.where(np.isnan(array_valid_x), 0, array_valid_x)

array_test_x = (array_test_x - array_test_x_mean) / array_test_x_std
array_test_x = np.where(np.isnan(array_test_x), 0, array_test_x)

mean for x train: ok
std for x train: ok
mean for x valid: ok
std for x valid: ok
mean for x test: ok
std for x test: ok

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in true_divide
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in true_divide

### **LGBM**

In [ ]:
# build the lightgbm model
import lightgbm as lgb

num_train, num_feature = array_train_x.shape

# create dataset for lightgbm
# if you want to re-use data, remember to set free_raw_data=False
lgb_train = lgb.Dataset(array_train_x, array_train_y, free_raw_data=False)
lgb_eval = lgb.Dataset(array_test_x, array_test_y, reference=lgb_train, free_raw_data=False)

In [ ]:
# specify your configurations as a dict
params = {
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': 'binary_logloss',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 0
}
################ v1
#params = {
#    'boosting_type': 'gbdt',
#    'objective': 'binary',
#    'metric': 'binary_logloss',
#    'num_leaves': 31,
#    'learning_rate': 0.05,
#    'feature_fraction': 0.9,
#    'bagging_fraction': 0.8,
#    'bagging_freq': 5,
#    'verbose': 0
#}

# generate feature names
feature_name = ['feature_' + str(col) for col in range(num_feature)]

print('Starting training...')
# feature_name and categorical_feature
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=50,
                valid_sets=lgb_train,  # eval training data
                feature_name=feature_name)

#####################33#v1
#gbm = lgb.train(params,
#                lgb_train,
#                num_boost_round=50,
#                valid_sets=lgb_train,  # eval training data
#                feature_name=feature_name)



print('Finished first 10 rounds...')

Starting training...
[1]	training's binary_logloss: 0.648127
[2]	training's binary_logloss: 0.611826
[3]	training's binary_logloss: 0.578242
[4]	training's binary_logloss: 0.548163
[5]	training's binary_logloss: 0.520107
[6]	training's binary_logloss: 0.494369
[7]	training's binary_logloss: 0.470686
[8]	training's binary_logloss: 0.449228
[9]	training's binary_logloss: 0.429407
[10]	training's binary_logloss: 0.410674
[11]	training's binary_logloss: 0.393205
[12]	training's binary_logloss: 0.376897
[13]	training's binary_logloss: 0.361766
[14]	training's binary_logloss: 0.347703
[15]	training's binary_logloss: 0.334492
[16]	training's binary_logloss: 0.322093
[17]	training's binary_logloss: 0.310553
[18]	training's binary_logloss: 0.299718
[19]	training's binary_logloss: 0.289578
[20]	training's binary_logloss: 0.280277
[21]	training's binary_logloss: 0.271239
[22]	training's binary_logloss: 0.262765
[23]	training's binary_logloss: 0.254802
[24]	training's binary_logloss: 0.247283
[25]	training's binary_logloss: 0.240171
[26]	training's binary_logloss: 0.233369
[27]	training's binary_logloss: 0.226997
[28]	training's binary_logloss: 0.220968
[29]	training's binary_logloss: 0.215291
[30]	training's binary_logloss: 0.209858
[31]	training's binary_logloss: 0.20476
[32]	training's binary_logloss: 0.200053
[33]	training's binary_logloss: 0.195531
[34]	training's binary_logloss: 0.19125
[35]	training's binary_logloss: 0.187183
[36]	training's binary_logloss: 0.183247
[37]	training's binary_logloss: 0.179453
[38]	training's binary_logloss: 0.175867
[39]	training's binary_logloss: 0.172555
[40]	training's binary_logloss: 0.16932
[41]	training's binary_logloss: 0.166262
[42]	training's binary_logloss: 0.163459
[43]	training's binary_logloss: 0.160787
[44]	training's binary_logloss: 0.158168
[45]	training's binary_logloss: 0.155694
[46]	training's binary_logloss: 0.153327
[47]	training's binary_logloss: 0.151021
[48]	training's binary_logloss: 0.148833
[49]	training's binary_logloss: 0.1467
[50]	training's binary_logloss: 0.144712
Finished first 10 rounds...

In [ ]:
import json

print('Dumping model to JSON...')
# dump model to JSON (and save to file)
model_json = gbm.dump_model()

with open('model.json', 'w+') as f:
    json.dump(model_json, f, indent=4)

# feature names
print('Feature names:', gbm.feature_name())

# feature importances
print('Feature importances:', list(gbm.feature_importance()))

Dumping model to JSON...
Feature names: ['feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_15', 'feature_16', 'feature_17', 'feature_18', 'feature_19', 'feature_20', 'feature_21', 'feature_22', 'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32', 'feature_33', 'feature_34', 'feature_35', 'feature_36', 'feature_37', 'feature_38', 'feature_39', 'feature_40', 'feature_41', 'feature_42', 'feature_43', 'feature_44', 'feature_45', 'feature_46', 'feature_47', 'feature_48', 'feature_49', 'feature_50', 'feature_51', 'feature_52', 'feature_53', 'feature_54', 'feature_55', 'feature_56', 'feature_57', 'feature_58', 'feature_59', 'feature_60', 'feature_61', 'feature_62', 'feature_63', 'feature_64', 'feature_65', 'feature_66', 'feature_67', 'feature_68', 'feature_69', 'feature_70', 'feature_71', 'feature_72', 'feature_73', 'feature_74', 'feature_75', 'feature_76', 'feature_77', 'feature_78', 'feature_79', 'feature_80', 'feature_81', 'feature_82', 'feature_83', 'feature_84', 'feature_85', 'feature_86', 'feature_87', 'feature_88', 'feature_89', 'feature_90', 'feature_91', 'feature_92', 'feature_93', 'feature_94', 'feature_95', 'feature_96', 'feature_97', 'feature_98', 'feature_99', 'feature_100', 'feature_101', 'feature_102', 'feature_103', 'feature_104', 'feature_105', 'feature_106', 'feature_107', 'feature_108', 'feature_109', 'feature_110', 'feature_111', 'feature_112', 'feature_113', 'feature_114', 'feature_115', 'feature_116', 'feature_117', 'feature_118', 'feature_119', 'feature_120', 'feature_121', 'feature_122', 'feature_123', 'feature_124', 'feature_125', 'feature_126', 'feature_127', 'feature_128', 'feature_129', 'feature_130', 'feature_131', 'feature_132', 'feature_133', 'feature_134', 'feature_135', 'feature_136', 'feature_137', 'feature_138', 'feature_139', 'feature_140', 'feature_141', 'feature_142', 'feature_143', 'feature_144', 'feature_145', 'feature_146', 'feature_147', 'feature_148', 'feature_149', 'feature_150', 'feature_151', 'feature_152', 'feature_153', 'feature_154', 'feature_155', 'feature_156', 'feature_157', 'feature_158', 'feature_159', 'feature_160', 'feature_161', 'feature_162', 'feature_163', 'feature_164', 'feature_165', 'feature_166', 'feature_167', 'feature_168', 'feature_169', 'feature_170', 'feature_171', 'feature_172', 'feature_173', 'feature_174', 'feature_175', 'feature_176', 'feature_177', 'feature_178', 'feature_179', 'feature_180', 'feature_181', 'feature_182', 'feature_183', 'feature_184', 'feature_185', 'feature_186', 'feature_187', 'feature_188', 'feature_189', 'feature_190', 'feature_191', 'feature_192', 'feature_193', 'feature_194', 'feature_195', 'feature_196', 'feature_197', 'feature_198', 'feature_199', 'feature_200', 'feature_201', 'feature_202', 'feature_203', 'feature_204', 'feature_205', 'feature_206', 'feature_207', 'feature_208', 'feature_209', 'feature_210', 'feature_211', 'feature_212', 'feature_213', 'feature_214', 'feature_215', 'feature_216', 'feature_217', 'feature_218', 'feature_219', 'feature_220', 'feature_221', 'feature_222', 'feature_223', 'feature_224', 'feature_225', 'feature_226', 'feature_227', 'feature_228', 'feature_229', 'feature_230', 'feature_231', 'feature_232', 'feature_233', 'feature_234', 'feature_235', 'feature_236', 'feature_237', 'feature_238', 'feature_239', 'feature_240', 'feature_241', 'feature_242', 'feature_243', 'feature_244', 'feature_245', 'feature_246', 'feature_247', 'feature_248', 'feature_249', 'feature_250', 'feature_251', 'feature_252', 'feature_253', 'feature_254', 'feature_255', 'feature_256', 'feature_257', 'feature_258', 'feature_259', 'feature_260', 'feature_261', 'feature_262', 'feature_263', 'feature_264', 'feature_265', 'feature_266', 'feature_267', 'feature_268', 'feature_269', 'feature_270', 'feature_271', 'feature_272', 'feature_273', 'feature_274', 'feature_275', 'feature_276', 'feature_277', 'feature_278', 'feature_279', 'feature_280', 'feature_281', 'feature_282', 'feature_283', 'feature_284', 'feature_285', 'feature_286', 'feature_287', 'feature_288', 'feature_289', 'feature_290', 'feature_291', 'feature_292', 'feature_293', 'feature_294', 'feature_295', 'feature_296', 'feature_297', 'feature_298', 'feature_299', 'feature_300', 'feature_301', 'feature_302', 'feature_303', 'feature_304', 'feature_305', 'feature_306', 'feature_307', 'feature_308', 'feature_309', 'feature_310', 'feature_311', 'feature_312', 'feature_313', 'feature_314', 'feature_315', 'feature_316', 'feature_317', 'feature_318', 'feature_319', 'feature_320', 'feature_321', 'feature_322', 'feature_323', 'feature_324', 'feature_325', 'feature_326', 'feature_327', 'feature_328', 'feature_329', 'feature_330', 'feature_331', 'feature_332', 'feature_333', 'feature_334', 'feature_335', 'feature_336', 'feature_337', 'feature_338', 'feature_339', 'feature_340', 'feature_341', 'feature_342', 'feature_343', 'feature_344', 'feature_345', 'feature_346', 'feature_347', 'feature_348', 'feature_349', 'feature_350', 'feature_351', 'feature_352', 'feature_353', 'feature_354', 'feature_355', 'feature_356', 'feature_357', 'feature_358', 'feature_359', 'feature_360', 'feature_361', 'feature_362', 'feature_363', 'feature_364', 'feature_365', 'feature_366', 'feature_367', 'feature_368', 'feature_369', 'feature_370', 'feature_371', 'feature_372', 'feature_373', 'feature_374', 'feature_375', 'feature_376', 'feature_377', 'feature_378', 'feature_379', 'feature_380', 'feature_381', 'feature_382', 'feature_383', 'feature_384', 'feature_385', 'feature_386', 'feature_387', 'feature_388', 'feature_389', 'feature_390', 'feature_391', 'feature_392', 'feature_393', 'feature_394', 'feature_395', 'feature_396', 'feature_397', 'feature_398', 'feature_399', 'feature_400', 'feature_401', 'feature_402', 'feature_403', 'feature_404', 'feature_405', 'feature_406', 'feature_407', 'feature_408', 'feature_409', 'feature_410', 'feature_411', 'feature_412', 'feature_413', 'feature_414', 'feature_415', 'feature_416', 'feature_417', 'feature_418', 'feature_419', 'feature_420', 'feature_421', 'feature_422', 'feature_423', 'feature_424', 'feature_425', 'feature_426', 'feature_427', 'feature_428', 'feature_429', 'feature_430', 'feature_431', 'feature_432', 'feature_433', 'feature_434', 'feature_435', 'feature_436', 'feature_437', 'feature_438', 'feature_439', 'feature_440', 'feature_441', 'feature_442', 'feature_443', 'feature_444', 'feature_445', 'feature_446', 'feature_447', 'feature_448', 'feature_449', 'feature_450', 'feature_451', 'feature_452', 'feature_453', 'feature_454', 'feature_455', 'feature_456', 'feature_457', 'feature_458', 'feature_459', 'feature_460', 'feature_461', 'feature_462', 'feature_463', 'feature_464', 'feature_465', 'feature_466', 'feature_467', 'feature_468', 'feature_469', 'feature_470', 'feature_471', 'feature_472', 'feature_473', 'feature_474', 'feature_475', 'feature_476', 'feature_477', 'feature_478', 'feature_479', 'feature_480', 'feature_481', 'feature_482', 'feature_483', 'feature_484', 'feature_485', 'feature_486', 'feature_487', 'feature_488', 'feature_489', 'feature_490', 'feature_491', 'feature_492', 'feature_493', 'feature_494', 'feature_495', 'feature_496', 'feature_497', 'feature_498', 'feature_499', 'feature_500', 'feature_501', 'feature_502', 'feature_503', 'feature_504', 'feature_505', 'feature_506', 'feature_507', 'feature_508', 'feature_509', 'feature_510', 'feature_511', 'feature_512', 'feature_513', 'feature_514', 'feature_515', 'feature_516', 'feature_517', 'feature_518', 'feature_519', 'feature_520', 'feature_521', 'feature_522', 'feature_523', 'feature_524', 'feature_525', 'feature_526', 'feature_527', 'feature_528', 'feature_529', 'feature_530', 'feature_531', 'feature_532', 'feature_533', 'feature_534', 'feature_535', 'feature_536', 'feature_537', 'feature_538', 'feature_539', 'feature_540', 'feature_541', 'feature_542', 'feature_543', 'feature_544', 'feature_545', 'feature_546', 'feature_547', 'feature_548', 'feature_549', 'feature_550', 'feature_551', 'feature_552', 'feature_553', 'feature_554', 'feature_555', 'feature_556', 'feature_557', 'feature_558', 'feature_559', 'feature_560', 'feature_561', 'feature_562', 'feature_563', 'feature_564', 'feature_565', 'feature_566', 'feature_567', 'feature_568', 'feature_569', 'feature_570', 'feature_571', 'feature_572', 'feature_573', 'feature_574', 'feature_575', 'feature_576', 'feature_577', 'feature_578', 'feature_579', 'feature_580', 'feature_581', 'feature_582', 'feature_583', 'feature_584', 'feature_585', 'feature_586', 'feature_587', 'feature_588', 'feature_589', 'feature_590', 'feature_591', 'feature_592', 'feature_593', 'feature_594', 'feature_595', 'feature_596', 'feature_597', 'feature_598', 'feature_599', 'feature_600', 'feature_601', 'feature_602', 'feature_603', 'feature_604', 'feature_605', 'feature_606', 'feature_607', 'feature_608', 'feature_609', 'feature_610', 'feature_611', 'feature_612', 'feature_613', 'feature_614', 'feature_615', 'feature_616', 'feature_617', 'feature_618', 'feature_619', 'feature_620', 'feature_621', 'feature_622', 'feature_623', 'feature_624', 'feature_625', 'feature_626', 'feature_627', 'feature_628', 'feature_629', 'feature_630', 'feature_631', 'feature_632', 'feature_633', 'feature_634', 'feature_635', 'feature_636', 'feature_637', 'feature_638', 'feature_639', 'feature_640', 'feature_641', 'feature_642', 'feature_643', 'feature_644', 'feature_645', 'feature_646', 'feature_647', 'feature_648', 'feature_649', 'feature_650', 'feature_651', 'feature_652', 'feature_653', 'feature_654', 'feature_655', 'feature_656', 'feature_657', 'feature_658', 'feature_659', 'feature_660', 'feature_661', 'feature_662', 'feature_663', 'feature_664', 'feature_665', 'feature_666', 'feature_667', 'feature_668', 'feature_669', 'feature_670', 'feature_671', 'feature_672', 'feature_673', 'feature_674', 'feature_675', 'feature_676', 'feature_677', 'feature_678', 'feature_679', 'feature_680', 'feature_681', 'feature_682', 'feature_683', 'feature_684', 'feature_685', 'feature_686', 'feature_687', 'feature_688', 'feature_689', 'feature_690', 'feature_691', 'feature_692', 'feature_693', 'feature_694', 'feature_695', 'feature_696', 'feature_697', 'feature_698', 'feature_699', 'feature_700', 'feature_701', 'feature_702', 'feature_703', 'feature_704', 'feature_705', 'feature_706', 'feature_707', 'feature_708', 'feature_709', 'feature_710', 'feature_711', 'feature_712', 'feature_713', 'feature_714', 'feature_715', 'feature_716', 'feature_717', 'feature_718', 'feature_719', 'feature_720', 'feature_721', 'feature_722', 'feature_723', 'feature_724', 'feature_725', 'feature_726', 'feature_727', 'feature_728', 'feature_729', 'feature_730', 'feature_731', 'feature_732', 'feature_733', 'feature_734', 'feature_735', 'feature_736', 'feature_737', 'feature_738', 'feature_739', 'feature_740', 'feature_741', 'feature_742', 'feature_743', 'feature_744', 'feature_745', 'feature_746', 'feature_747', 'feature_748', 'feature_749', 'feature_750', 'feature_751', 'feature_752', 'feature_753', 'feature_754', 'feature_755', 'feature_756', 'feature_757', 'feature_758', 'feature_759', 'feature_760', 'feature_761', 'feature_762', 'feature_763', 'feature_764', 'feature_765', 'feature_766', 'feature_767', 'feature_768', 'feature_769', 'feature_770', 'feature_771', 'feature_772', 'feature_773', 'feature_774', 'feature_775', 'feature_776', 'feature_777', 'feature_778', 'feature_779', 'feature_780', 'feature_781', 'feature_782', 'feature_783', 'feature_784', 'feature_785', 'feature_786', 'feature_787', 'feature_788', 'feature_789', 'feature_790', 'feature_791', 'feature_792', 'feature_793', 'feature_794', 'feature_795', 'feature_796', 'feature_797', 'feature_798', 'feature_799', 'feature_800', 'feature_801', 'feature_802', 'feature_803', 'feature_804', 'feature_805', 'feature_806', 'feature_807', 'feature_808', 'feature_809', 'feature_810', 'feature_811', 'feature_812', 'feature_813', 'feature_814', 'feature_815', 'feature_816', 'feature_817', 'feature_818', 'feature_819', 'feature_820', 'feature_821', 'feature_822', 'feature_823', 'feature_824', 'feature_825', 'feature_826', 'feature_827', 'feature_828', 'feature_829', 'feature_830', 'feature_831', 'feature_832', 'feature_833', 'feature_834', 'feature_835', 'feature_836', 'feature_837', 'feature_838', 'feature_839', 'feature_840', 'feature_841', 'feature_842', 'feature_843', 'feature_844', 'feature_845', 'feature_846', 'feature_847', 'feature_848', 'feature_849', 'feature_850', 'feature_851', 'feature_852', 'feature_853', 'feature_854', 'feature_855', 'feature_856', 'feature_857', 'feature_858', 'feature_859', 'feature_860', 'feature_861', 'feature_862', 'feature_863', 'feature_864', 'feature_865', 'feature_866', 'feature_867', 'feature_868', 'feature_869', 'feature_870', 'feature_871', 'feature_872', 'feature_873', 'feature_874', 'feature_875', 'feature_876', 'feature_877', 'feature_878', 'feature_879', 'feature_880', 'feature_881', 'feature_882', 'feature_883', 'feature_884', 'feature_885', 'feature_886', 'feature_887', 'feature_888', 'feature_889', 'feature_890', 'feature_891', 'feature_892', 'feature_893', 'feature_894', 'feature_895', 'feature_896', 'feature_897', 'feature_898', 'feature_899', 'feature_900', 'feature_901', 'feature_902', 'feature_903', 'feature_904', 'feature_905', 'feature_906', 'feature_907', 'feature_908', 'feature_909', 'feature_910', 'feature_911', 'feature_912', 'feature_913', 'feature_914', 'feature_915', 'feature_916', 'feature_917', 'feature_918', 'feature_919', 'feature_920', 'feature_921', 'feature_922', 'feature_923', 'feature_924', 'feature_925', 'feature_926', 'feature_927', 'feature_928', 'feature_929', 'feature_930', 'feature_931', 'feature_932', 'feature_933', 'feature_934', 'feature_935', 'feature_936', 'feature_937', 'feature_938', 'feature_939', 'feature_940', 'feature_941', 'feature_942', 'feature_943', 'feature_944', 'feature_945', 'feature_946', 'feature_947', 'feature_948', 'feature_949', 'feature_950', 'feature_951', 'feature_952', 'feature_953', 'feature_954', 'feature_955', 'feature_956', 'feature_957', 'feature_958', 'feature_959', 'feature_960', 'feature_961', 'feature_962', 'feature_963', 'feature_964', 'feature_965', 'feature_966', 'feature_967', 'feature_968', 'feature_969', 'feature_970', 'feature_971', 'feature_972', 'feature_973', 'feature_974', 'feature_975', 'feature_976', 'feature_977', 'feature_978', 'feature_979', 'feature_980', 'feature_981', 'feature_982', 'feature_983', 'feature_984', 'feature_985', 'feature_986', 'feature_987', 'feature_988', 'feature_989', 'feature_990', 'feature_991', 'feature_992', 'feature_993', 'feature_994', 'feature_995', 'feature_996', 'feature_997', 'feature_998', 'feature_999', 'feature_1000', 'feature_1001', 'feature_1002', 'feature_1003', 'feature_1004', 'feature_1005', 'feature_1006', 'feature_1007', 'feature_1008', 'feature_1009', 'feature_1010', 'feature_1011', 'feature_1012', 'feature_1013', 'feature_1014', 'feature_1015', 'feature_1016', 'feature_1017', 'feature_1018', 'feature_1019', 'feature_1020', 'feature_1021', 'feature_1022', 'feature_1023', 'feature_1024', 'feature_1025', 'feature_1026', 'feature_1027', 'feature_1028', 'feature_1029', 'feature_1030', 'feature_1031', 'feature_1032', 'feature_1033', 'feature_1034', 'feature_1035', 'feature_1036', 'feature_1037', 'feature_1038', 'feature_1039', 'feature_1040', 'feature_1041', 'feature_1042', 'feature_1043', 'feature_1044', 'feature_1045', 'feature_1046', 'feature_1047', 'feature_1048', 'feature_1049', 'feature_1050', 'feature_1051', 'feature_1052', 'feature_1053', 'feature_1054', 'feature_1055', 'feature_1056', 'feature_1057', 'feature_1058', 'feature_1059', 'feature_1060', 'feature_1061', 'feature_1062', 'feature_1063', 'feature_1064', 'feature_1065', 'feature_1066', 'feature_1067', 'feature_1068', 'feature_1069', 'feature_1070', 'feature_1071', 'feature_1072', 'feature_1073', 'feature_1074', 'feature_1075', 'feature_1076', 'feature_1077', 'feature_1078', 'feature_1079', 'feature_1080', 'feature_1081', 'feature_1082', 'feature_1083', 'feature_1084', 'feature_1085', 'feature_1086', 'feature_1087', 'feature_1088', 'feature_1089', 'feature_1090', 'feature_1091', 'feature_1092', 'feature_1093', 'feature_1094', 'feature_1095', 'feature_1096', 'feature_1097', 'feature_1098', 'feature_1099', 'feature_1100', 'feature_1101', 'feature_1102', 'feature_1103', 'feature_1104', 'feature_1105', 'feature_1106', 'feature_1107', 'feature_1108', 'feature_1109', 'feature_1110', 'feature_1111', 'feature_1112', 'feature_1113', 'feature_1114', 'feature_1115', 'feature_1116', 'feature_1117', 'feature_1118', 'feature_1119', 'feature_1120', 'feature_1121', 'feature_1122', 'feature_1123', 'feature_1124', 'feature_1125', 'feature_1126', 'feature_1127', 'feature_1128', 'feature_1129', 'feature_1130', 'feature_1131', 'feature_1132', 'feature_1133', 'feature_1134', 'feature_1135', 'feature_1136', 'feature_1137', 'feature_1138', 'feature_1139', 'feature_1140', 'feature_1141', 'feature_1142', 'feature_1143', 'feature_1144', 'feature_1145', 'feature_1146', 'feature_1147', 'feature_1148', 'feature_1149', 'feature_1150', 'feature_1151', 'feature_1152', 'feature_1153', 'feature_1154', 'feature_1155', 'feature_1156', 'feature_1157', 'feature_1158', 'feature_1159', 'feature_1160', 'feature_1161', 'feature_1162', 'feature_1163', 'feature_1164', 'feature_1165', 'feature_1166', 'feature_1167', 'feature_1168', 'feature_1169', 'feature_1170', 'feature_1171', 'feature_1172', 'feature_1173', 'feature_1174', 'feature_1175', 'feature_1176', 'feature_1177', 'feature_1178', 'feature_1179', 'feature_1180', 'feature_1181', 'feature_1182', 'feature_1183', 'feature_1184', 'feature_1185', 'feature_1186', 'feature_1187', 'feature_1188', 'feature_1189', 'feature_1190', 'feature_1191', 'feature_1192', 'feature_1193', 'feature_1194', 'feature_1195', 'feature_1196', 'feature_1197', 'feature_1198', 'feature_1199', 'feature_1200', 'feature_1201', 'feature_1202', 'feature_1203', 'feature_1204', 'feature_1205', 'feature_1206', 'feature_1207', 'feature_1208', 'feature_1209', 'feature_1210', 'feature_1211', 'feature_1212', 'feature_1213', 'feature_1214', 'feature_1215', 'feature_1216', 'feature_1217', 'feature_1218', 'feature_1219', 'feature_1220', 'feature_1221', 'feature_1222', 'feature_1223', 'feature_1224', 'feature_1225', 'feature_1226', 'feature_1227', 'feature_1228', 'feature_1229', 'feature_1230', 'feature_1231', 'feature_1232', 'feature_1233', 'feature_1234', 'feature_1235', 'feature_1236', 'feature_1237', 'feature_1238', 'feature_1239', 'feature_1240', 'feature_1241', 'feature_1242', 'feature_1243', 'feature_1244', 'feature_1245', 'feature_1246', 'feature_1247', 'feature_1248', 'feature_1249', 'feature_1250', 'feature_1251', 'feature_1252', 'feature_1253', 'feature_1254', 'feature_1255', 'feature_1256', 'feature_1257', 'feature_1258', 'feature_1259', 'feature_1260', 'feature_1261', 'feature_1262', 'feature_1263', 'feature_1264', 'feature_1265', 'feature_1266', 'feature_1267', 'feature_1268', 'feature_1269', 'feature_1270', 'feature_1271', 'feature_1272']

### **Calculo de Test (Hipotesis)**

In [ ]:
ds_test = pd.read_csv('./01_input/test.csv')

In [ ]:
ds_test = pd.merge(ds_test, ds_promos, how='left', on=['Cliente','Marca','Cupo'])
del ds_test['Ejecuto_Promo'], ds_test['Target']
ds_test = pd.merge(ds_test, ds_cliente, how='left', on=['Cliente'])

ds_test = pd.merge(ds_test, ds_ventasCantidad, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_test = pd.merge(ds_test, ds_ventasNr, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_test = pd.merge(ds_test, ds_ventasHl, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_test = pd.merge(ds_test, ds_ventasDcto, how='left', on=['Cliente', 'Marca', 'Cupo'])
ds_test = pd.merge(ds_test, ds_ventasCantidadCliente, how='left', on=['Cliente'])
ds_test = pd.merge(ds_test, ds_ventasNrCliente, how='left', on=['Cliente'])
ds_test = pd.merge(ds_test, ds_ventasHlCliente, how='left', on=['Cliente'])
ds_test = pd.merge(ds_test, ds_ventasDctoCliente, how='left', on=['Cliente'])
#####################################################################################################3333
ds_test = pd.merge(ds_test, ds_temp_fin, how='left', on=['Cliente','Marca','Cupo']) 

reduce_memory(ds_test)

In [ ]:
ds_test.head(5)

   Cliente  Marca  Cupo  ...  sum_mes_venta_9  sum_marca_40_cupo_16  sum_menor_15
0       10     40    16  ...              0.0                   1.0           1.0
1       17     29     9  ...              NaN                   NaN           NaN
2       37     29     9  ...              NaN                   NaN           NaN
3       46     29     9  ...              0.0                   0.0           1.0
4       48     29     9  ...              NaN                   NaN           NaN

[5 rows x 1262 columns]

In [ ]:
ds_test.columns

Index(['Cliente', 'Marca', 'Cupo', 'CantidadPromosActivas',
       'CantidadPromosActivas_MarcaPromo_29',
       'CantidadPromosActivas_MarcaPromo_39',
       'CantidadPromosActivas_MarcaPromo_40',
       'CantidadPromosActivas_CupoPromo_9',
       'CantidadPromosActivas_CupoPromo_16',
       'CantidadPromosActivas_CupoPromo_20',
       ...
       'Cliente_Dcto_AnhoMesVenta_2019_2', 'Cliente_Dcto_AnhoMesVenta_2019_3',
       'Cliente_Dcto_AnhoMesVenta_2019_4', 'Cliente_Dcto_AnhoMesVenta_2019_5',
       'Cliente_Dcto_AnhoMesVenta_2019_6', 'Cliente_Dcto_AnhoMesVenta_2019_7',
       'Cliente_Dcto_AnhoMesVenta_2019_8', 'sum_mes_venta_9',
       'sum_marca_40_cupo_16', 'sum_menor_15'],
      dtype='object', length=1262)

In [ ]:
ds_test_key = ds_test.iloc[:,:3]
ds_test_features = ds_test.iloc[:,3:]

In [ ]:
array_hipo_x = np.asarray(ds_test_features)

array_hipo_x_mean = array_hipo_x.mean(axis=0)
print("mean for x hipo: ok")
array_hipo_x_std = array_hipo_x.std(axis=0)
print("std for x hipo: ok")

array_hipo_x = (array_hipo_x - array_hipo_x_mean) / array_hipo_x_std
array_hipo_x = np.where(np.isnan(array_hipo_x), 0, array_hipo_x)

#array_hipo_y = executePromo.predict(array_hipo_x)
array_hipo_y = gbm.predict(array_hipo_x)

#array_hipo_y = np.reshape(array_hipo_y, len(array_hipo_y))

mean for x hipo: ok
std for x hipo: ok

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in true_divide

In [ ]:
str_version = '4'

ds_test_key_target = ds_test_key.copy()

ds_test_key_target['Ejecuto_Promo'] = array_hipo_y

In [ ]:
ds_test_key_target.head()

   Cliente  Marca  Cupo  Ejecuto_Promo
0       10     40    16       0.918405
1       17     29     9       0.114745
2       37     29     9       0.080891
3       46     29     9       0.099579
4       48     29     9       0.084285

In [ ]:
ds_test_key_target.head()

   Cliente  Marca  Cupo  Ejecuto_Promo
0       10     40    16       0.918405
1       17     29     9       0.114745
2       37     29     9       0.080891
3       46     29     9       0.099579
4       48     29     9       0.084285

In [ ]:
ds_test_key_target.to_csv("result_lgbm_porc_HITO4.csv",index=False)